Client/xml-resources/web-service-references/FlightReservationServiceBUService/wsdl/localhost_8080/BottomUpServer/FlightReservationServiceBUService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BottomUp.services.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BottomUp.services.com/" name="FlightReservationServiceBUService">
<types>
<xsd:schema>
<xsd:import namespace="http://BottomUp.services.com/" schemaLocation="http://localhost:8080/BottomUpServer/FlightReservationServiceBUService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="getItineraries">
<part name="parameters" element="tns:getItineraries"/>
</message>
<message name="getItinerariesResponse">
<part name="parameters" element="tns:getItinerariesResponse"/>
</message>
<portType name="FlightReservationServiceBU">
<operation name="login">
<input wsam:Action="http://BottomUp.services.com/FlightReservationServiceBU/loginRequest" message="tns:login"/>
<output wsam:Action="http://BottomUp.services.com/FlightReservationServiceBU/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://BottomUp.services.com/FlightReservationServiceBU/login/Fault/UnauthorizedException"/>
</operation>
<operation name="getItineraries">
<input wsam:Action="http://BottomUp.services.com/FlightReservationServiceBU/getItinerariesRequest" message="tns:getItineraries"/>
<output wsam:Action="http://BottomUp.services.com/FlightReservationServiceBU/getItinerariesResponse" message="tns:getItinerariesResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://BottomUp.services.com/FlightReservationServiceBU/getItineraries/Fault/UnauthorizedException"/>
</operation>
</portType>
<binding name="FlightReservationServiceBUPortBinding" type="tns:FlightReservationServiceBU">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="getItineraries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightReservationServiceBUService">
<port name="FlightReservationServiceBUPort" binding="tns:FlightReservationServiceBUPortBinding">
<soap:address location="http://localhost:8080/BottomUpServer/FlightReservationServiceBUService"/>
</port>
</service>
</definitions>