Client/xml-resources/web-service-references/TopDownService/wsdl/localhost_8080/FlightResTD/TopDownService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://topdown.com.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightResTD" targetNamespace="http://topdown.com.se/">

	<types>
		<xsd:schema>
		  <xsd:import namespace="http://topdown.com.se/" schemaLocation="http://localhost:8080/FlightResTD/TopDownService?xsd=1"/>
		</xsd:schema>
	</types>

	<message name="bookTicket">
		<part name="parameters" element="tns:bookTicket"/>
	</message>
	<message name="bookTicketResponse">
		<part name="parameters" element="tns:bookTicketResponse"/>
	</message>
	<message name="issueTicket">
		<part name="parameters" element="tns:issueTicket"/>
	</message>
	<message name="issueTicketResponse">
		<part name="parameters" element="tns:issueTicketResponse"/>
	</message>
    <message name="UnauthorizedException">
    	<part name="fault" element="tns:UnauthorizedException"/>
  	</message>

	<portType name="FlightResTD">
		<operation name="bookTicket">
			<input message="tns:bookTicket"/>
			<output message="tns:bookTicketResponse"/>
			<fault message="tns:UnauthorizedException" name="UnauthorizedException"/>
		</operation>
		<operation name="issueTicket">
			<input message="tns:issueTicket"/>
			<output message="tns:issueTicketResponse"/>
			<fault message="tns:UnauthorizedException" name="UnauthorizedException"/>
		</operation>
	</portType>

	<binding name="FlightResTDPortBinding" type="tns:FlightResTD">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="bookTicket">
			<soap:operation soapAction="bookTicket"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		    <fault name="UnauthorizedException">
		     	<soap:fault name="UnauthorizedException" use="literal"/>
		    </fault>
		</operation>
		<operation name="issueTicket">
			<soap:operation soapAction="issueTicket"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		    <fault name="UnauthorizedException">
		     	<soap:fault name="UnauthorizedException" use="literal"/>
		    </fault>
		</operation>
	</binding>

	<service name="FlightResTD">
		<documentation> WSDL File for FlightReservationServiceTopDown</documentation>
		<port binding="tns:FlightResTDPortBinding" name="FlightResTDPort">
			<soap:address location="http://localhost:8080/FlightResTD/TopDownService"/>
		</port>
	</service>
</definitions>